<h1 align="justify">Welcome, Now get your Loan approved instantly !!!!</h1>
<p align="justify"> <br/>
    Welcome to ABC Bank Loan processing system. Now get your
    loan approved immediately using this cool and fully
    automated application.
   <br/>
   <br/>
    In order to Submit a new loan request, click on "Submit an
    application" link on the right.
  <br/>
  <br/>
    For viewing existing loan application's , click on "View
     applications" link</p>

     <div align="right">
        <a routerLink="/view"><button class="btn btn-success pull-right" >View Application </button></a>
        <br/>
        <br/>
        <a routerLink="/submit"><button class="btn btn-success pull-right" >Submit Application </button></a>
     </div>