<!-- nav -->
<div class = "navbar is-dark">
  <!-- logo 
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="../../Picture 1.png">
    </a>
  </div>  
   -->
  <style>
    ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color:black;
        }

    li  {
          float: right;
        }

    li a{
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }

    li a:hover{
          background-color: rgba(0, 110, 255, 0.788);
        }

  </style>

  <!-- menu -->
  <div class="navbar-menu">
    <div class="navbar-end">
      <style>
        li{
              display: inline;
              margin-left: 20px;
          }
        </style>
      <ul>
        <li><a class="navbar-item" routerLink="/submit">Submit Application</a></li>
        <li><a class="navbar-item" routerLink="/view">View Application</a></li>
        <li><a class="navbar-item" routerLink="/">Home</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- main content container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 offset-sm-2">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>